body
{

}

#mainblock1
{
width:100%;
background-color:#1569C7;
height:300px;
padding-top: 100px;
}


#mainblock
{
right:50%;
margin-top:50px;
height:200px;
margin-left:20%;
margin-right:20%;
width:70%;
}

#lc
{
  margin-left:700px;
  width:340px;
 margin-top: 10px;


}



#Event_type
{
width:300px;
height: 40px;
border:5px solid;
border-right-color:black;
border-top-color: lightblue;
border-left-color:lightblue;
border-bottom-color:black;
font-size: 20px;
margin: 20px;

}

#cities
{
  width:300px;
  font-size: 20px;
  margin: 5px;
  border:5px solid ;

  height: 40px;
  border:5px solid;
  border-right-color:black;
  border-top-color: lightblue;
  border-left-color:lightblue;
  border-bottom-color:black;
}



input[type="date"]
{
  font-size: 20px;
  width:300px;
  border:5px solid black;
background-image:url('ca.jpg');
background-size:50px;
background-repeat: no-repeat;
background-position: right;
margin-bottom: 4px;
height:40px;
border:5px solid;
border-right-color:black;
border-top-color: lightblue;
border-left-color:lightblue;
border-bottom-color:black;}
#l
{ border:6px solid;
  border-left-color:black;
  border-top-color: white;
background-image: url('leftarrow.png');
background-size:20px;
background-position: center;
background-repeat: no-repeat;
height:30px;
width: 50px;
float:left;
border-right-color: red;
border-top-color: red;

}
#r
{
  border:6px solid;
  border-right-color:black;
  border-top-color: red;
  border-left-color:red;

  height:30px;
  float:right;
background-image: url('right.jfif');
background-size:20px;
background-position: center;
background-repeat: no-repeat;
width: 50px;
margin-right:32px;
}
#l:disabled
{
filter: opacity(20%);
filter: blur(50%);
}
#r:disabled
{
filter: opacity(20%);
filter: blur(50%)
}

#fetch
{
margin-top: 50px;
margin-left:15%;
margin-right: 10%;
width:70%;
height:200px;
border:8px solid black;
border-radius: 20px;
padding: 5px;
background-color: lightblue;

}
.fetch1
{
background-color: rgba(255, 0, 0,1);
filter: opacity(100%);
display: none;
width:900px;
font-size: 25px;
height: 500px;
text-align: left;
border:8px solid black;
border-radius: 40px;
padding: 25px;
background-color:lightblue;

}

#but
{
background-image:url('search.jpg');
background-size:50px;
margin-left: 20px;
padding-top: 10px;
font-size: 0px;
width:50px;
height: 50px;
background-repeat: no-repeat;
background-position: center;
border:2px solid black;
}

footer
{

  margin-top:200px;
float:right;
width: parent;
border: 2px solid black;
font-size: 30px;
margin-right:20px;

}
@media screen and (max-width: 800px) {
  #cities,#Event_type,input[type='date'] {
    width:150px;
    align-items: center;
  }
  #Event_type
  {
  margin-bottom: 1px;
float:left;
  }
  #mainblock1
  {
    font-size: 10px;
  }
  #l,#r
  {
  display:none;}
}

